<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div id="header">
    <h1>Hei!</h1> <br>
</div>
<div id="content">
    <p>Klikkides all oleval lingil s aad taastada oma Hub-i kasutaja parooli.</p>
    <h2>$link</h2>
    <p>Kui sina ei proovinud oma parooli taastada, siis võid kirja rahulikult kustudada!</p>
</div>

</body>
</html>
